.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.title {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 800;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: none;
  display: grid;
  justify-content: center;
  text-shadow: 2px 2px 2px #FFFFFF, 2px 2px 2px #9E9E9E;
  color: #505050;
}

.search-form {
  min-height: 10vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 60%;
  border: none;
  padding: 10px;
}

.search-button {
  background: plum;
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
